body {
    background-color: #edf2f4;
    font-size:10px;
    font-family:Trebuchet MS;;
}
h1 {
    color: blue;
}

:root {
    --main-active-color: #7A446A;    
    --main-leftDark-color: #2b2d42;
}
.panelBar {
    background-color: var(--main-leftDark-color);
    position: fixed;
    width: 80px;
    height: 100%;
    left: 0px;
    top: 0px;
    padding:4px;
    padding-right:6px;

}
.panelBar .button {
	-moz-box-shadow:inset 0px 0px 0px 0px #edf2f4;
	-webkit-box-shadow:inset 0px 0px 0px 0px #edf2f4;
	box-shadow:inset 0px 0px 0px 0px #edf2f4;
	background-color:#8d99ae;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:.5rem;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #307bc7;
    text-align: center;
    margin: 5px;
    width:4em;
    height:3.5em;
}
.panelBar .button:hover {
	background-color:#c6babf;
}
.panelBar .buttonActive {
	position:relative;
    top:1px;
    background-color:#E9E3EF;
    color: var(--main-active-color);
    text-shadow:0px 1px 0px #E9E3EF;
}
.panelBarSpan {
    display: none;
	background-color: #E9E3EF;
    position: fixed;
    width: 200px;
    height: 100%;
    left: 93px;
    top: 0px;
    opacity: 1;
    padding: 15px;
    border-right: 1px solid rgb(216, 188, 208);
}

.panelBarSpan p {
    color: var(--main-leftDark-color);
    font-size: 15px;
	font-weight:bold;
}
#colorButton {
    width: 102%;
    height: 18px;
    border-radius: 5px;
	cursor: pointer;
    border: 1px solid #2b2d42;
}
.rightBar {
    background-color:#edf2f4;
    position: fixed;
    width: 60px;
    height: 100%;
    right: 0px;
    top: 0px;
    padding: 4px;
    padding-top: 15px;
}
#addButton {
	-moz-box-shadow: 1px 1px 3px 0px #7aa66c;
	-webkit-box-shadow: 1px 1px 3px 0px #7aa66c;
	box-shadow: 1px 1px 3px 0px #7aa66c;
	background-color:#d0efb1;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #d0dbd1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
    padding:10px 13px;
    margin:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#addButton:hover {
	background-color:#c5ebae;
}
#addButton:active {
	position:relative;
	top:1px;
}

.interactButton {
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #bfbfbf;
	display:inline-block;
	cursor:pointer;
	color:#949494;
	font-family:Arial;
	font-size:20px;
    
    text-align: center;
	text-decoration:none;
    text-shadow:0px 1px 0px #f5f5f5;
    margin:10px;
    width: 40px;
    height: 40px;

    /* Internet Explorer 10 */
display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;

}
.interactButton:hover {
	background-color:#f2f2f2;
}
.interactButton:active {
	position:relative;
	top:1px;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    outline: none;
    opacity: 0.7;
    overflow: hidden;
    background: #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 1px solid var(--main-leftDark-color);
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--main-active-color);
    box-shadow: -100vw 0 0 100vw var(--main-active-color);
    
}
.eventButton {
    background-color: white;
    color: rgb(129, 129, 129);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border:1px solid rgb(211, 211, 211);
    border-radius: 5px;
    margin:2px;

}
.eventButton:hover {
    color:black;
}
.elementList {
    background-color: #f7bd51;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:95%;
    border:1px solid #c0ac53;
    border-radius: 5px;
}
.elementList:hover{background-color: #b9b26f;}
.elementNotActive{background-color: #b9b26f;}
.textButton {
    background-color: #bfdaa5;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:95%;
    border:1px solid #73946a;
    border-radius: 5px;
}
.textButton:hover{background-color: #73946a;}
.textbox {
    width: 100%;
    height: 100%;
    color: black;
    border: none;
    resize:none;
    background: none;
}
.paraDrag {
    width: 150px;
    height: 100px; 
}
.inputDrag {
    width: 120px;
    height: 18px;  
}
.eventDrag {
    width: 35px;
    height: 30px;
}
.draggable{
    left:350px;
    top:30px;
    position: absolute;
    background: none;
    padding:5px;
    
    border: none;
}
.draggable:hover{border:1px solid #e7bcce;cursor: move;}


/*left panel bar trash*/
.panelBar .trashButton {
	-moz-box-shadow:inset 0px 0px 0px 0px #edf2f4;
	-webkit-box-shadow:inset 0px 0px 0px 0px #edf2f4;
	box-shadow:inset 0px 0px 0px 0px #edf2f4;
	background-color: none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:.5rem;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #307bc7;
    text-align: center;
    margin: 5px;
    width:4em;
    height:3.5em;
    position: absolute;
    bottom: 5px;
}
.dropArea {background-color:#e7bcce;}
.dropAreaHover { background-color: #db8aac; }

/*story board*/

.storyBoard {
    background-color: #ffffff;
    position: fixed;
    left: 130px;
    right: 70px;
    padding-top: 50px;
    height: 96%;
    top: 2%;
    z-index: -1;
}

.storyBoard path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.storyBoard .axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}